<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="happyComponent01" class="com.atguigu.ioc_01.HappyComponent" />

    <bean id="clientService01" class="com.atguigu.ioc_01.ClientService" factory-method="createInstance"/>

    <bean id="defaultServiceLocator" class="com.atguigu.ioc_01.DefaultServiceLocator" />
    <bean id="clientService02" factory-method="createClientServiceInstance" factory-bean="defaultServiceLocator"/>

</beans>